.hero-unit {
	border-radius: 0 0 6px 6px;
	margin-bottom: 30px;
	padding: 30px 60px 30px 60px;
}

#content  {
	margin:15px 0 30px 0;
}
#content h1 {
	margin:15px 0;
}

.browsers {
	text-align:center;
}
.browser {
	background: url("../img/browsers.png") no-repeat top center;
	width:52px;
	height:52px;
	margin:0 auto;
}
.browser a {
	width:52px;
	height:52px;
	display:block;
}
.browsers h4 {
	margin-top:10px;
}
.export ul li {
	padding:5px 0 0 0;
}
.export blockquote {
	background:#f9f9f9;
	padding:15px;
}
#browser_Firefox {
	background-position:-106px 0;
}
#browser_Safari {
	background-position:-51px 0;
}
#browser_Chrome {
	background-position:0 0;
}
#browser_Opera {
	background-position:-226px 0;
}
#browser_IE {
	background-position:-166px 0;
}


.browsers ul {
}
.date {
	font-size:80%;
	color:#666;
}