.hero-unit {
	border-radius: 0 0 6px 6px;
	margin-bottom: 15px;
	padding: 30px 60px 30px 60px;
	position:relative;
}
.hero-unit h1 {
	font-size:22px;
	line-height: 28px;
	font-weight:normal;
	letter-spacing: 0;
}
.hero-unit h2 {
	font-size:60px;
	line-height: 1;
	letter-spacing: -1px;
}
#language {
	position:absolute;
	top:15px;
	right:30px;
}
#language  a {
	color:#999;
}
#language.nav-pills .active > a, #language.nav-pills .active > a:hover {
	background:#ccc;
	color:#fff;
}
#content  {
	margin:15px 0 30px 0;
}
#content h1 {
	margin:15px 0;
}

.browsers {
	text-align:center;
}
.browser a, .browser {
	width:52px;
	height:52px;
}
.browser {
	background: url("../img/browsers.png") no-repeat top center;
	margin:0 auto;
}
.browser a {
	display:block;
}
.browsers h3,
.browsers h4 {
	margin-top:10px;
}
.browsers h3 {
	font-size: 14px;
	line-height: 18px;
}
.browsers .version {
	font-weight:bold;
	white-space:nowrap;
}
.browsers .date {
	white-space:nowrap;
	font-weight:bold;
}

.export ul li {
	padding:5px 0 0 0;
}
.export blockquote {
	background:#f9f9f9;
	padding:15px;
}
#browser-firefox {
	background-position:-106px 0;
}
#browser-safari {
	background-position:-51px 0;
}
#browser-chrome {
	background-position:0 0;
}
#browser-opera {
	background-position:-226px 0;
}
#browser-ie {
	background-position:-166px 0;
}
.history .browser-block {
	display:none;
	border:1px dashed #999;
}
.browser-title a {
	text-decoration:none;
}
.browser-title a:hover {
	border-bottom:1px dashed #999;
}
.date {
	font-size:80%;
	color:#666;
}
.row-year {
	margin:10px 0;
}

.nav {
	margin-bottom:10px;
}

.history td,
.history th {
	padding:0 5px 7px 5px;
	vertical-align:top;
	width:165px;
	border-bottom:1px solid #eee;
}
.history th  {
	padding-top:7px;
}
.history td {
	padding-top:7px;
	line-height: 16px;
}
.row-year:hover {
	background:#ffffcf;
}
.history th.highlight,
.history td.highlight {
	background:#f1f1ff;
}
.history td:hover {
	background:#eeeeee;
}

.history th.browsers-year,
.history td.browsers-year {
	font-weight:bold;
	color:#999;
	width:85px;
}
.row-year:hover .browsers-year {
	color:#000;
}
.row-year,
a {
	transition: background .3s, border-color .3s, color .3s;
	-moz-transition: background .3s, border-color .3s, color .3s;
	-webkit-transition: background .3s, border-color .3s, color .3s;
	-o-transition: background .3s, border-color .3s, color .3s;
}